{% load static %}
{% load language_tags %}
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="testimonial bottom">
                    {% get_testimonial as testimonial %}
                    {% for testim in testimonial %}
                    <div class="media">
                        <div class="media-body">
                            <blockquote>{{testim.testimonial}}</blockquote>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="testimonial bottom">
                    {% get_testimonial as testimonial %}
                    {% for testim in testimonial %}
                    <div class="media">
                        <div class="media-body">
                            <blockquote>{{testim.testimonial}}</blockquote>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="testimonial bottom">
                    {% get_testimonial as testimonial %}
                    {% for testim in testimonial %}
                    <div class="media">
                        <div class="media-body">
                            <blockquote>{{testim.testimonial}}</blockquote>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-12">
                <div class="copyright-text text-center">
                    <p>&copy; Your Company 2014. All Rights Reserved.</p>
                    <p>Crafted by <a target="_blank" href="http://designscrazed.org/">Allie</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>