{% extends 'base.html' %}

{% block content %}
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action1">
                    <div class="col-sm-12">
                        <h1 class="title">API</h1>
                        <h2 class="title">Конечные точки:</h2>
                        <p>Список статей блога:
                        <h3><a href="https://vldedov.pythonanywhere.com/api/v1/blog/">https://vldedov.pythonanywhere.com/api/v1/blog/</a>
                        </h3> <br></p>
                        <p>Список слов словаря:
                        <h3><a href="https://vldedov.pythonanywhere.com/api/v1/dictionary/">https://vldedov.pythonanywhere.com/api/v1/dictionary/</a>
                        </h3> <br></p>

                        <h2 class="title">Описание:</h2>
                        <p>Так же возвращается описание каждой статьи и каждого слова по их слагам. Например:
                            <a href="https://vldedov.pythonanywhere.com/api/v1/dictionary/he/" target="_blank">https://vldedov.pythonanywhere.com/api/v1/dictionary/he/</a>
                            <br></p>
                        <p>Добавление статей, слов и комментариев сокрытой завесой тайны, и не распространяется на
                            всеобщее обозрение. <br></p>
                        <br>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
