{% extends 'base.html' %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}
<section id="shortcodes">
    <div class="container">
        <div id="tab-container">
            <div class="row">
                <div class=" col-md-12">
                    <div class="col-sm-12">
                        <form method="post" action="{% url 'add_post' %}" enctype="multipart/form-data">
                            {% csrf_token %}

                            {{form.media}}
                            {% for f in form %}
                            <div class="form-group">
                                <strong>{{f.label}}: </strong> {{f}}
                            </div>
                            {% endfor%}

                            <div class="form-group">
                                <button type="submit" name="Submit" class="btn btn-submit" value="Добавить / Add">
                                    Добавить / Add
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
</section>
{% endblock %}