{% extends 'base.html' %}
{% load language_tags %}
{% load static %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Hello! Добро пожаловать на мой блог.</h1>
                        <p>Обо всем и ни о чем.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#page-breadcrumb-->

<section id="blog" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7">
                <div class="row">
                    {% for blog in blog_list %}
                    <div class="col-sm-12 col-md-12">
                        <div class="single-blog single-column">
                            <div class="post-thumb">
                                <a href="{{blog.get_absolute_url }}">
                                    {% if blog.image_1 %}
                                    <img src="{{blog.image_1.url}}"
                                                                         class="img-responsive" alt=""></a>
                                    {% endif %}
                                <div class="post-overlay">
                                    <span class="uppercase"><a href="#">{{blog.date_add.day}} <br><small>{{blog.date_add.month}}</small></a></span>
                                </div>
                            </div>
                            <div class="post-content overflow">

                                <h2 class="post-title bold"><a href="{{blog.get_absolute_url }}">{{blog.title}}</a></h2>
                                <p>{{blog.content|safe|linebreaks|truncatewords:50}}</p>
                                <h4 class="date">Опубликовано: {{blog.date_add}}</h4>
                                <p><a href="{{blog.get_absolute_url }}" class="read-more">Читать пост</a></p>

                                <hr>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div class="blog-pagination">
                    <ul class="pagination">
                        <li><a href="#">left</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li class="active"><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">right</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-5">
                <div class="sidebar blog-sidebar">
                    <div class="sidebar-item categories">
                        {% get_categories cat_selected=cat_selected.id%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#blog-->
{% endblock %}
