{% extends 'base.html' %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action1">
                    <div class="col-sm-12">
                        <h1 class="title">Контакты:</h1>
                        <p>E-mail: <a href="mailto:vldedov@mail.ru">vldedov@mail.ru</a> <br></p>
                        <p>Phone: +7 (707) 725 27 05 <br></p>
                        <p>WatsApp: 7 (707) 725 27 05 <br></p>
                        <p>Telegram: 7 (707) 725 27 05 <br></p>
                        <h1 class="title">Адрес:</h1>
                        <p>Страна: Казахстан <br></p>
                        <p>Город: Петропавловск <br></p>
                        Почитать подробнеее можно на сайте <a href="dvv-res.ru" target="_blank">DVV-RES.ru</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <section id="map-section">
        <div class="container">
            <div id="gmap"></div>
        </div>
    </section> <!--/#map-section-->
{% endblock %}

