{% extends 'base.html' %}
{% block title %}
{{title.word_eng}}
{% endblock title%}
{% block content %}

<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title"></h1>
                        <h1><strong>{{detail_word.word_eng }}</strong> - {{detail_word.word_rus }} </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#action-->

<section id="shortcodes">
    <div class="container">
        <div id="tab-container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-header">Exempels / Примеры</h2>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab1-item1">
                        <h2>
                            <ul>
                                {% if detail_word.exemple_1_eng %}
                                <li>
                                    {{detail_word.exemple_1_eng}} -> {{detail_word.exemple_1_rus}}
                                </li>
                                {% endif %}
                                {% if detail_word.exemple_2_eng %}
                                <li>
                                    {{detail_word.exemple_2_eng}} -> {{detail_word.exemple_2_rus}}
                                </li>
                                {% endif %}
                                {% if detail_word.exemple_3_eng %}
                                <li>
                                    {{detail_word.exemple_3_eng}} -> {{detail_word.exemple_3_rus}}
                                </li>
                                {% endif %}
                            </ul>
                        </h2>
                    </div>
                </div>
            </div>
            {% if detail_word.image %}
            <h2>Картинка для запоминания: </h2>
            <img src="{{detail_word.image.url}}">
            {% endif%}
        </div>
    </div><!--/#table-container-->


    <div class="padding"></div>

    </div>
</section>

{% endblock %}