{% extends 'base.html' %}}
{% load language_tags %}
{% load static%}
{% block title %}
{{title}}
{% endblock %}
{% block content %}
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">{{blog.title}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#page-breadcrumb-->

<section id="blog" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="single-blog blog-details two-column">
                            <div class="post-thumb">
                                {% if blog.image_1 %}
                                <a href="#"><img src="{{blog.image_1.url}}" class="img-responsive" alt=""></a>
                                {% endif %}
                                <div class="post-overlay">
                                    <span class="uppercase"><a href="#">14 <br><small>Feb</small></a></span>
                                </div>
                            </div>
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><a href="#">{{blog.title}}</a></h2>
                                <h4 class="date">Опубликовано: {{blog.date_add}}</h4>
                                <p>{{blog.content | safe}}</p>
                                <div class="post-bottom overflow">
                                    <ul class="nav navbar-nav post-nav">
                                        <li><a href="#"><i class="fa fa-tag"></i>Creative</a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i>32 Love</a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i>3 Comments</a></li>
                                    </ul>
                                </div>
                                <div class="blog-share">
                                    <span class='st_facebook_hcount'></span>
                                    <span class='st_twitter_hcount'></span>
                                    <span class='st_linkedin_hcount'></span>
                                    <span class='st_pinterest_hcount'></span>
                                    <span class='st_email_hcount'></span>
                                </div>
                                {% get_comments blog_id=blog.id %}
                                <!--/comments here-->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {% get_categories cat_selected=cat_selected.id %}
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="contact-form bottom">
                <h3>Добавить комментарий</h3>
                <form method="post" action="{% url 'add_comment' blog.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input id="name" type="text" name="name_user" class="form-control" required="required" placeholder="Ваше имя">
                    </div>
                    <div class="form-group">
                            <textarea id="content" name="content" id="message" required="required" class="form-control" rows="8"
                                      placeholder="Напишите Ваше мнение"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" id="comment" name="submit" class="btn btn-submit" value="Отправить">
                    </div>
                </form>
            </div>
        </div>
</section>
<!--/#blog-->


{% endblock %}

