{% extends 'base.html' %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Страничка - словарь.</h1>
                        <p><a href="{%url 'add_word' %}">Добавить новое слово</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#action-->

<section id="shortcodes">
    <div class="container">
        <div id="tab-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-sm-12">
                        <ul>
                            {% for word in words%}
                            <li>
                                <p><a href="{{word.get_absolute_url}}"> {{word.word_eng}} ---> {{word.word_rus}}</a></p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div><!--/#table-container-->
    </div>
</section>
<hr>
{% endblock %}