{% extends 'base.html' %}
{% load static %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}
<section id="home-slider">
    <div class="container">
        <div class="main-slider">
            <div class="slide-text">
                <h1>Блог - словарь</h1>
                <p>Данный сайт является местом, где ведется блог разработки и местом, где добавляются вновь изученные
                    английские слова.</p>
                {% if not request.user.is_authenticated %}
                <a href="{% url 'login' %}" class="btn btn-common">Вход для меня</a>
                {%else%}
                <a href="{% url 'log_out' %}" class="btn btn-common">Может пора выйти?</a>
                {%endif%}

            </div>
            <img src="{% static 'images/home/slider/slide1/house.png' %}" class="img-responsive slider-house"
                 alt="slider image">
            <img src="{% static 'images/home/slider/slide1/circle1.png' %}" class="slider-circle1" alt="slider image">
            <img src="{% static 'images/home/slider/slide1/circle2.png' %}" class="slider-circle2" alt="slider image">
            <img src="{% static 'images/home/slider/slide1/cloud1.png' %}" class="slider-cloud1" alt="slider image">
            <img src="{% static 'images/home/slider/slide1/cloud2.png' %}" class="slider-cloud2" alt="slider image">
            <img src="{% static 'images/home/slider/slide1/cloud3.png' %}" class="slider-cloud3" alt="slider image">
            <img src="{% static 'images/home/slider/slide1/sun.png' %}" class="slider-sun" alt="slider image">
            <img src="{% static 'images/home/slider/slide1/cycle.png' %}" class="slider-cycle" alt="">
        </div>
    </div>
    <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="{% static 'images/home/icon1.png' %}" alt="">
                    </div>

                    <h2><a href="{% url 'blog'%}"> Открыть блог</a></h2>
                    {% autoescape off %}
                    <p>{{blog.content|linebreaks|truncatewords:15}}</p>
                    {% endautoescape %}
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                        <img src="{% static 'images/home/icon2.png' %}" alt="">
                    </div>
                    <h2>Superior Typography</h2>
                    <p>Hamburger ribeye drumstick turkey, strip steak sausage ground round shank pastrami beef brisket
                        pancetta venison.</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                        <img src="{% static 'images/home/icon3.png' %}" alt="">
                    </div>
                    <h2>Swift Page Builder</h2>
                    <p>Venison tongue, salami corned beef ball tip meatloaf bacon. Fatback pork belly bresaola
                        tenderloin bone pork kevin shankle.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}