{% extends 'base.html' %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Авторизуйся, бро!</h1>
                        <p>К сожалению регистрация на этом сайте запрещена. Авторизоваться могу только я :) </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="shortcodes">
    <div class="container">
        <div id="tab-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-sm-12">

                        <form method="post" >
                            <div>{{form.non_field_errors}}</div>
                            {% csrf_token %}
                            {% for f in form %}
                            <div class="form-group">
                                <strong>{{f.label}}</strong> {{f}}
                            </div>
                            <div>{{f.errors}}</div>
                            {% endfor%}
                            <div class="form-group">
                                <button type="submit" name="Submit" class="btn btn-submit" value="Добавить / Add">
                                    Войти
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
</section>
{% endblock %}